*.swp
/nbproject
/migration/nbproject/private/
/migration/*.pdf
/migration/nbproject
/migration/node_modules
/*.pdf
/tp1
/migration/*.zip
/Backend/node_modules
/Backend/*.pdf
/Backend/migration
/Backend/*.pdf
/Backend/*.pdf
/Backend/*.zip
