extends layout

block content
  #err(class='alert alert-danger')
      p=error.status
      p=message
  if error.stack
      pre #{error.stack}
  button(class='btn btn-info' onclick="history.back(-1)") Retour à la page précédente