.articlebox
    border solid 1px lightgray
    position relative
    min-height 320px

#logo
h1 .articlebox
h2 .articlebox
h3 .articlebox
    margin 0

p .articlebox
    margin-top 15px

.articlebox-body
    padding 50px 63px
    width 60%

p .black .bold
    color black
    font-weight bold
