!!!
html
    head
        meta(charset='utf-8')
        title Labo 3
    body
        h1.title.big Bienvenue sur la page du labo 3
        p La page Internet du labo est disponible 
            a(href='https://github.com/jpcaissy/INF4375-2013E/wiki/Labo-03', target='blank') ici
